<? version = "1.0" enconding = "UTF-8"?>
<widget id="com.example.compass" version="0.0.1">
    <name>Compasss</name>
    <author email="dev@callback.apache.org" href="http://phonegap.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Compass">
   <plugin name="org.apache.cordova.device-orientation" spec="0.3.11" source="pgb" />
</feature>
</widget>
