.compass-wrraper{
    max-width: 320px;
    margin: 0 auto;
    border: 5px solid #7B0000;
}
.heading-data{
    padding: 10px; 
}
.start{
    margin-top: 10px;
}
.compass{
    position: relative;
    margin: 30px auto;
    width: 240px;
}
.needle{
    position: absolute;
    right: 101px;
    top: 64px;
}